@import "../../index.scss";

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: $secondary-color;
  height: calc(100vh - 70px);
}

.content {
  display: flex;
  flex-direction: column;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  height: 90px;
}

.btn {
  padding: 12px;
  background-color: #2c2c2c;
  color: $secondary-color;
  border-radius: 8px;
}

.decks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
